---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "About" sideBarActiveItemID="about">
  <div class="mt-5">
    <div class="text-3xl w-full font-bold mb-5">About Me</div>
  </div>

  <div class="pb-12 mt-5">
    <div class="py-2">
      <text class="text-lg">
        I get computers to do things. I'm currently working as an Implementation Consulant at 
        <a href="https://www.fastenterprises.com" class="link">FAST Enterprises</a> but I'm looking for some exciting projects
        to work in in my spare-time.
      </text>
    </div>
  </div>

</BaseLayout>
