---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-8 mt-5">
    <div class="text-xl py-1">Hey there, I'm</div>
    <div class="text-4xl font-bold">Sam Maze</div>
    <div class="py-2">
      <text class="text-md">
        I'm a husband and father who occasionally gets computers to do things. Currently, I'm working as an Implementation Consulant at 
        <a href="https://www.fastenterprises.com" class="link link-primary">FAST Enterprises</a> but I'm looking for some exciting projects
        to work in in my spare-time. Thanks for stopping by my corner of the internet!
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My latest projects</div>
  </div>

  <HorizontalCard
    title="Personal Website"
    img="/personal-site.png"
    desc="The website you're reading this on is my current side-project that I'm using to explore some new technologies and work on my personal branding. You can learn more on my Github repo."
    url="https://github.com/Sam-Maze/Sam-Maze-Astro"
    badge="NEW"
  />
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from the blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
